img {
    width: 500px;

}

    /*-------header-----*/

header {
background: aliceblue;
padding: 10px;
text-align: center;
}


    /*-------content----*/

p {
        background: blanchedalmond;
        margin-top: 50px;



    }
    /*-------links------*/

    .links {
background: azure;

    }
.h4, h1 {
blu
}