* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
.container {
    position: relative;
    font-family: Arial;
  }
  
  .text-block {
    position: absolute;
    top: 150px;
    left: 20px;
    background-color: rgb(250, 250, 250);
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
  }
img {
  filter: grayscale(100%);
}
