
    /*-------header-----*/

.section1 {
background: rgb(146, 149, 151);
padding: 10px;
}


.section2 {
    background: aliceblue;
    padding: 10px;
    margin: 10px;
}


.section3 {
    background: rgb(224, 211, 238);
    padding: 10px;
    margin: 10px;
}


.section4 {
    background: rgb(148, 186, 219);
    padding: 10px;
    margin: 10px;
}


    /*-------content----*/

p {
       


    }
    /*-------links------*/

    .links {
background: azure;

    }
.h4, h1 {

}